################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication1/FileContentIndex/01937a6d-1b1a-4f6b-90cf-e9908132ca09.vsidx
