################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication1/FileContentIndex/01937a6d-1b1a-4f6b-90cf-e9908132ca09.vsidx
/.vs/WebApplication1/FileContentIndex/3e0aacf6-ad90-4ec8-b3a9-d49e11f0807a.vsidx
/.vs/WebApplication1/FileContentIndex/e24cda15-4842-47b9-b233-b2a3d7434076.vsidx
/.vs/WebApplication1/FileContentIndex/a78310a4-3863-485b-9ce9-d48ef8d2084f.vsidx
/.vs/WebApplication1/FileContentIndex/6e2941c4-6db3-4744-84b5-614d8989af61.vsidx
/.vs/WebApplication1/FileContentIndex/fe08264a-ad0e-4489-a825-899c1a6e18d3.vsidx
/.vs/WebApplication1/FileContentIndex/06a753b7-1fc9-4da6-83fa-bda3e4539d88.vsidx
/.vs/WebApplication1/FileContentIndex/06c11343-e2a2-4769-bad2-d3cd2a4d0dd9.vsidx
/.vs/WebApplication1/FileContentIndex/954647bb-63f7-4c29-b71f-f9a2ba18c59e.vsidx
/.vs/WebApplication1/FileContentIndex/88e1507b-0065-43fa-ba18-a07a8fdfc96a.vsidx
/.vs/WebApplication1/FileContentIndex/e2548fbd-619e-49f9-a279-f1149b2f6133.vsidx
/.vs/WebApplication1/FileContentIndex/ac8228ce-7605-42c8-8af8-0cdd41d4f6ee.vsidx
/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
/.vs/WebApplication1/v17/DocumentLayout.json
/.vs/WebApplication1/FileContentIndex/178f1f46-f5b1-46ae-9007-80091e007849.vsidx
/.vs/WebApplication1/FileContentIndex/baafe9f7-cc2f-4fa5-ab3e-e7c67828bdcd.vsidx
/.vs/WebApplication1/FileContentIndex/bc0249b6-ee47-4e56-a843-200230cc33a6.vsidx
/.vs/WebApplication1/FileContentIndex/c2e56bcd-5ab3-40c8-b3c3-6d16f37f27f2.vsidx
