################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication1/FileContentIndex/01937a6d-1b1a-4f6b-90cf-e9908132ca09.vsidx
/.vs/WebApplication1/FileContentIndex/3e0aacf6-ad90-4ec8-b3a9-d49e11f0807a.vsidx
/.vs/WebApplication1/FileContentIndex/e24cda15-4842-47b9-b233-b2a3d7434076.vsidx
/.vs/WebApplication1/FileContentIndex/a78310a4-3863-485b-9ce9-d48ef8d2084f.vsidx
/.vs/WebApplication1/FileContentIndex/6e2941c4-6db3-4744-84b5-614d8989af61.vsidx
/.vs/WebApplication1/FileContentIndex/fe08264a-ad0e-4489-a825-899c1a6e18d3.vsidx
